@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions
@using MrCMS.Entities.Documents.Layout
@using MrCMS.Entities.Widget
@model MrCMS.Web.Admin.Models.UpdateLayoutAreaModel
@{
    ViewBag.Title = "Edit | " + Model.AreaName;
    var layout = ViewData["layout"] as Layout;
    var widgets = ViewData["widgets"] as IList<Widget> ?? new List<Widget>();
}

<form asp-controller="LayoutArea" asp-action="Edit" method="post">
    <admin-header>
        <row>
            <admin-header-title title="@Model.AreaName "/>
            <admin-header-actions>
                <a href="@Url.Action("Edit", "Layout", new { id = layout.Id })" class="btn btn-dark">
                    <i class="icon ti ti-arrow-back"></i>
                    @await Html.Resource("admin-back", "Back")
                </a>
                <a href="@Url.Action("Delete", "LayoutArea", new { id = Model.Id })" class="btn btn-danger" data-toggle="fb-modal">
                    <i class="icon ti ti-trash"></i>
                    @await Html.Resource("admin-delete", "Delete")
                </a>
                <button class="btn btn-primary">
                    <i class="icon ti ti-device-floppy"></i>
                    @await Html.Resource("admin-save", "Save")
                </button>
            </admin-header-actions>
        </row>
    </admin-header>
    <card class="mb-3">
        <card-body>
            <div class="form-group">
                <label asp-for="AreaName" class="form-label"></label>
                <input type="text" asp-for="AreaName" class="form-control"/>
                <span asp-validation-for="AreaName"></span>
            </div>
        </card-body>
    </card>
</form>


<admin-header>
    <row>
        <admin-header-title title="@await Html.Resource("admin-widgets", "Widgets")"/>
        <admin-header-actions>
            @{
                if (widgets.Any())
                {
                    <a href="@Url.Action("SortWidgets", "LayoutArea", new { id = Model.Id, returnUrl = Context.Request.GetEncodedUrl() })" class="btn btn-icon btn-dark" data-toggle="fb-modal" data-bs-toggle="tooltip" data-bs-placement="top" title="@await Html.Resource("Sort")">
                        <i class="icon ti ti-sort-descending-2"></i>
                    </a>
                }
            }
            <a href="@Url.Action("Add", "Widget", new { id = Model.Id, returnUrl = Context.Request.GetEncodedUrl() })" class="btn btn-primary">
                <i class="icon ti ti-plus"></i>
                @await Html.Resource("Admin Layout Area Add Widget", "Add widget")
            </a>
        </admin-header-actions>
    </row>
</admin-header>


@{
    if (widgets.Any())
    {
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>
                    @await Html.Resource("Name")
                </th>
                <th>
                    @await Html.Resource("Type")
                </th>
                <th>
                    @await Html.Resource("Actions")
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var widget in widgets)
            {
                <tr>
                    <td>@widget.Name</td>
                    <td>
                        @widget.WidgetTypeFormatted
                    </td>
                    <td>
                        <div class="btn-group">
                            @Html.ActionLink(await Html.Resource("Edit"), "Edit", "Widget", new { id = widget.Id }, new { @class = "btn btn-secondary btn-sm" })
                            <a href="@Url.Action(await Html.Resource("Delete"), "Widget", new { id = widget.Id })" class="btn btn-sm btn-danger" data-toggle="fb-modal">@await Html.Resource("Delete")</a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        @Html.InfoBlock(await Html.Resource("Heads up"), await Html.Resource("Admin Layout Area Widgets Info", "Click add widget to add the first widget to this area."))
    }
}