@model MrCMS.Web.Admin.Models.AddWidgetModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form asp-controller="Widget" asp-action="Add" asp-route-id="" method="post" data-add-widget-form class="mt-3">
    <admin-header>
        <row>
            <admin-header-title title="@await Html.Resource("Admin Widget Add Widget", "Add Widget")"/>

            <admin-header-actions>
                <a href="@Url.Action("Edit", "LayoutArea", new { Id = Model.LayoutAreaId })" class="btn btn-dark">
                    <i class="icon ti ti-arrow-back"></i>
                    @await Html.Resource("admin-back", "Back")
                </a>
                <button class="btn btn-primary" id="add-widget">
                    <i class="icon ti ti-plus"></i>
                    @await Html.Resource("admin-add", "Add")
                </button>
            </admin-header-actions>
        </row>
    </admin-header>
    <card>
        <card-body>
            @Html.HiddenFor(model => model.LayoutAreaId)
            @Html.Hidden("ReturnUrl", ViewData["return-url"])
            @Html.ReturnToReferrer()
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Name" class="form-control"/>
                        <label asp-for="Name"></label>
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <select asp-for="WidgetType" asp-items="@WidgetHelper.WidgetTypeDropdownItems" class="form-select"></select>
                        <label asp-for="WidgetType"></label>
                        <span asp-validation-for="WidgetType"></span>
                    </div>
                </div>
            </div>


            <div class="mt-3" data-additional-properties="true">
            </div>
        </card-body>

    </card>
</form>