@using MrCMS.Entities.Widget
@using MrCMS.Web.Admin.Infrastructure.Helpers
@model MrCMS.Web.Admin.Models.UpdateWidgetModel
@{
    var widget = ViewData["widget"] as Widget;
    ViewBag.Title = "Edit | " + widget.WidgetTypeFormatted;
    var cacheExpiryOptions = ViewData["cache-expiry-options"] as List<SelectListItem> ?? new List<SelectListItem>();
}
@using (Html.BeginForm("Edit", "Widget", new { }, FormMethod.Post, null, new { id = "edit-widget" }))
{
    <admin-header>
        <row>
            <admin-header-title title="@(!string.IsNullOrWhiteSpace(Model.Name) ? Model.Name : widget.WidgetTypeFormatted)"/>
            <admin-header-actions>
                <a href="@Url.Action("Edit", "LayoutArea", new { Id = widget.LayoutArea.Id })" class="btn btn-dark">
                    <i class="icon ti ti-arrow-back"></i>
                    @await Html.Resource("admin-back", "Back")
                </a>
                <button class="btn btn-primary" id="add-widget">
                    <i class="icon ti ti-device-floppy"></i>
                    @await Html.Resource("admin-save", "Save")
                </button>
            </admin-header-actions>
        </row>
    </admin-header>
    <card>
        <card-body>
            @Html.HiddenFor(model => model.Id)
            @Html.Hidden("ReturnUrl", ViewData["return-url"])

            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control"/>
                <label asp-for="Name"></label>
            </div>
            <span asp-validation-for="Name"></span>

            @await Html.RenderUpdateCustomAdminProperties(widget)

            @if (widget.IsTypeCacheable())
            {
                <hr/>
                <div class="mb-3">
                    <div class="form-label">@await Html.Resource("Caching")</div>
                    <label class="form-check form-switch d-inline-block">
                        <input asp-for="Cache" class="form-check-input" type="checkbox">
                        <span class="form-check-label">@await Html.Resource("Enable widget caching")</span>
                    </label>
                    <small class="form-hint">
                        @await Html.Resource("admin-widget-caching-hint", "Cache the widget to reduce the work required to generate the content.")
                    </small>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="d-flex">
                                <label asp-for="CacheLength" class="form-label"></label>
                                <span class="form-help ms-2" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="<p class='mb-0'>@await Html.Resource("CacheLength-hint", "for how long we will cache the widget results in milliseconds.")</p>" data-bs-html="true">?</span>
                            </div>
                            <input asp-for="CacheLength" class="form-control"/>
                            <span asp-validation-for="CacheLength"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="d-flex">
                                <label asp-for="CacheExpiryType" class="form-label"></label>
                                <span class="form-help ms-2" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="@await Html.Resource("CacheExpiryType-hint", "<p>Determine when the cache entry will expire</p><ul><li><b>Sliding: </b>The entry will stay in the cache as long as it is read within the defined time</li><li><b>Absolute: </b>the entry will expire once that point in time has elapsed.</li></ul>")" data-bs-html="true">?</span>
                            </div>
                            <select asp-for="CacheExpiryType" asp-items="@cacheExpiryOptions" class="form-select"></select>
                            <span asp-validation-for="CacheExpiryType"></span>
                        </div>
                    </div>
                </div>
            }
        </card-body>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-4">
                    <table class="small m-0">
                        <tr>
                            <td class="fw-bold" width="110">
                                <i class="me-1 ti ti-tag"></i>
                                @await Html.Resource("Admin Widget Type", "WidgetType"):
                            </td>
                            <td>
                                @widget.GetType().Name
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold">
                                <i class="me-1 ti ti-layout-dashboard"></i>
                                @await Html.Resource("Admin Layout Area", "Layout Area"):
                            </td>
                            <td>
                                @widget.LayoutArea.Unproxy().AreaName
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="small">
                        <tr>
                            <td class="fw-bold" width="110">
                                <i class="me-1 ti ti-user"></i>
                                @await Html.Resource("Created By"):
                            </td>
                            <td>
                                @widget.CreatedBy.Name
                            </td>
                        </tr>
                        <tr>
                            <td class="fw-bold">
                                <i class="me-1 ti ti-edit"></i>
                                @await Html.Resource("Updated On"):
                            </td>
                            <td>
                                @widget.UpdatedOn.ToString("dd-MM-yyyy hh:mm tt")
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </card>
}