@using MrCMS.Web.Admin.Infrastructure.Breadcrumbs
@model MrCMS.Web.Admin.Infrastructure.Breadcrumbs.Sitemap
@{
    var breadcrumbs = ViewData.Breadcrumbs();
}

<nav class="collapse navbar-collapse" id="navbar-menu">
    <ul class="navbar-nav pt-lg-3" data-widget="treeview" role="menu" data-accordion="true" id="sidebar-nav">
        @foreach (var item in Model.Nodes)
        {
            var selectedClass = item.SelectedClass(breadcrumbs);
            if (item.Nodes.Any())
            {
                var indexOf = Model.Nodes.IndexOf(item);
                var isActive = item.IsActive(breadcrumbs);
                ViewData["indexOf"] = indexOf.ToString();
                ViewData["submenu"] = item.Name;
                ViewData["isActive"] = isActive;

                <li class="nav-item @selectedClass" data-menu="@indexOf">
                    <a href="#" class="nav-link dropdown-toggle @selectedClass" data-bs-toggle="collapse" data-bs-target="#@item.Name" aria-expanded="@(isActive ? "true" : "false")">
                        <span class="nav-link-icon">
                            <i class="icon @item.CssClass"></i>
                        </span>
                        <span class="nav-link-title">
                            @await Html.Resource("Nav Links - " + item.Name, item.Name)
                        </span>
                    </a>
                    <partial name="Components/NavLinks/SubMenu" model="item.Nodes" view-data="ViewData"></partial>
                </li>
            }
            else
            {
                <li class="nav-item @selectedClass">
                    <a href="@item.Url" class="nav-link @selectedClass" @(item.OpenInNewWindow ? "target=\"_blank\"" : "")>
                        <i class="nav-icon "></i>
                        <span class="nav-link-icon">
                            <i class="icon @(item.CssClass ?? "ti ti-circle-dot")"></i>
                        </span>
                        <span class="nav-link-title">
                            @await Html.Resource("Nav Links - " + item.Name, item.Name)
                        </span>
                    </a>
                </li>
            }
        }
    </ul>
</nav>