@using MrCMS.Web.Admin.Infrastructure.Breadcrumbs
@model MrCMS.Web.Admin.Infrastructure.Breadcrumbs.Sitemap
@{
    var breadcrumbs = ViewData.Breadcrumbs();
}

<nav class="collapse navbar-collapse" id="navbar-menu">
    <ul class="navbar-nav pt-lg-3" data-widget="treeview" role="menu" data-accordion="true" id="sidebar-nav">
        @foreach (var item in Model.Nodes)
        {
            if (item.Nodes.Any())
            {
                var indexOf = Model.Nodes.IndexOf(item);
                ViewData["indexOf"] = indexOf.ToString();
                ViewData["submenu"] = item.Name;


                <li class="nav-item dropdown" data-menu="@indexOf">
                    <a href="#" class="nav-link dropdown-toggle @(item.IsActive(breadcrumbs) ? "active" : "")" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
                        <span class="nav-link-icon">
                            <i class="fs-3 @item.CssClass"></i>
                        </span>
                        <span class="nav-link-title">
                            @await Html.Resource("Nav Links - " + item.Name, item.Name)
                        </span>
                    </a>
                    <partial name="Components/NavLinks/SubMenu" model="item.Nodes" view-data="ViewData"></partial>

                </li>
            }
            else
            {
                <li class="nav-item">
                    <a href="@item.Url" class="nav-link @item.SelectedClass(breadcrumbs)" @(item.OpenInNewWindow ? "target=\"_blank\"" : "")>
                        <i class="nav-icon "></i>
                        <span class="nav-link-icon">
                            <i class="fs-3 @(item.CssClass ?? "ti ti-circle-dot")"></i>
                        </span>
                        <span class="nav-link-title">
                            @await Html.Resource("Nav Links - " + item.Name, item.Name)
                        </span>
                    </a>
                </li>
            }
        }
    </ul>
</nav>