@using MrCMS.Web.Admin.Infrastructure.Breadcrumbs
@model List<SitemapNode>
@{
    var nav = ViewData["submenu"] as string;
    var indexOf = ViewData["indexOf"] as string;
    var breadcrumbs = ViewData.Breadcrumbs();
    var isActive = ViewData["isActive"] as bool? ?? false;
}
<div class="nav-collapse collapse @(isActive ? "show" : "")" id="@nav">
    <ul class="navbar-nav">
        @foreach (var item in Model)
        {
            var selectedClass = item.SelectedClass(breadcrumbs);
            if (item.Nodes != null && item.Nodes.Any())
            {
                var index = item.Nodes.IndexOf(item);
                isActive = item.IsActive(breadcrumbs);
                indexOf = indexOf + index;
                ViewData["item"] = item.Name;
                ViewData["submenu"] = item.Name;
                ViewData["indexOf"] = indexOf;
                ViewData["isActive"] = isActive;

                <li class="nav-item @selectedClass" data-menu="@indexOf">
                    <a href="#" class="nav-link dropdown-toggle @selectedClass" data-bs-toggle="collapse" data-bs-target="#@item.Name" aria-expanded="@(isActive ? "true" : "false")">
                        <span class="nav-link-icon">
                            <i class="ti @(indexOf.Length > 1 ? "ti-circle" : "ti-point")"></i>
                        </span>
                        <span class="nav-link-title">
                            @await Html.Resource("Nav Links - " + item.Name, item.Name)
                        </span>
                    </a>
                    <partial name="Components/NavLinks/SubMenu" model="item.Nodes" view-data="ViewData"></partial>
                </li>
            }
            else
            {
                <li class="nav-item @selectedClass">
                    <a href="@item.Url" class="nav-link" @(item.OpenInNewWindow ? "target=\"_blank\"" : "")>
                        <span class="nav-link-icon">
                            <i class="ti ti-point"></i>
                        </span>
                        <span class="nav-link-title">
                            @await Html.Resource("Nav Links - " + item.Name, item.Name)
                        </span>
                    </a>
                </li>
            }
        }
    </ul>
</div>