@using MrCMS.ACL
@using MrCMS.Entities.People
@using MrCMS.Web.Admin.Models
@inject ACLSettings ACLSettings
@model dynamic
@{
    var rules = ViewData["acl-rules"] as List<AclInfo>;
    var roles = rules.SelectMany(x => x.Roles).Select(x => new { x.Id, x.Name }).Distinct().OrderBy(x => x.Name).ToList();
}
<form asp-controller="ACL" asp-action="Index" method="post">
    <admin-header>
        <row>
            <admin-header-title title="@await Html.Resource("admin - acl", "ACL Controls") " />

            <admin-header-actions>
                <div class="btn-group">
                    @if (ACLSettings.ACLEnabled)
                    {
                        <a asp-controller="ACL" asp-action="Disable" class="btn btn-danger">@await Html.Resource("admin-acl-disable", "Disable")</a>
                        <button class="btn btn-primary">@await Html.Resource("admin-save", "Save")</button>
                    }
                    else
                    {
                        <a asp-controller="ACL" asp-action="Enable" class="btn btn-success">@await Html.Resource("admin-acl-enable", "Enable")</a>
                    }
                </div>
            </admin-header-actions>
        </row>
    </admin-header>

    @if (ACLSettings.ACLEnabled)
    {
        <div class="accordion bg-white">
            @foreach (var group in rules.GroupBy(x => x.Rule).OrderBy(x => x.Key))
            {
                <div class="accordion-item">
                    <h2 class="accordion-header sticky-top bg-white" style="top: 63px;z-index: 10" id="heading-@group.Key">
                        <button class="accordion-button bg-dark-lt" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@group.Key" aria-expanded="true" aria-controls="collapse-@group.Key">
                            @group.Key.BreakUpString()
                            <small class="text-muted ms-2">(@group.Count())</small>
                        </button>
                    </h2>
                    <div id="collapse-@group.Key" class="accordion-collapse collapse show" aria-labelledby="heading-@group.Key" data-bs-parent="#accordionExample">
                        <table class="table table-borderless m-0">
                            <thead>
                            <tr>
                                <th width="150">
                                    Operation
                                </th>
                                @foreach (var role in roles)
                                {
                                    <th width="50">
                                        @role.Name
                                    </th>
                                }
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var rule in group.OrderBy(x => x.Type).ThenBy(x => x.Operation))
                            {
                                <tr>
                                    <td>
                                        @rule.Operation.BreakUpString()
                                    </td>
                                    @foreach (var role in rule.Roles)
                                    {
                                        var key = $"{role.Id}-{rule.Key}";
                                        if (role.Name != UserRole.Administrator)
                                        {
                                            <td>

                                                <input name="acl" value="@key" type="checkbox" @(role.Allowed ? "checked" : "") class="form-check-input"/>

                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input type="checkbox" checked="checked" disabled="disabled" class="form-check-input"/>
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>

    }
    else
    {
        <div class="alert alert-info" role="alert">
            @await Html.Resource("Admin ACL Disabled", "ACL is disabled")
        </div>
    }
</form>